react/coverage/*
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/coverage
/node_modules
/app/assets/javascripts/bundle.js
/react/coverage
/yarn-error.log
/public/uploads

.byebug_history
.env
