$font-family-sans-serif: 'Zilla Slab', sans-serif;
$font-family-serif: 'Zilla Slab', serif;
$main-background-color: #a9cbd2;
$button-padding-h: 0.9em;
$button-padding-v: 0.7em;
$join-button-color: #166985;
$join-button-font-color: #fff;
$join-button-hover-color: #20aede;
$join-button-hover-font-color: #fff;

body {
  font-family: 'Ubuntu', sans-serif !important;
  padding-left: 1em;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif !important;
  }
  .title-area {
    font-size: 24px;
    padding-left: 10px;
  }
  // font-family: $font-family-serif;
  background-color: $main-background-color;
  .button {

    font-family: 'Ubuntu', sans-serif !important;
    border-color: black !important;
    border-width: 2px;
    border-radius: 8px;
    padding-left: $button-padding-h;
    padding-right: $button-padding-h;
    padding-top: $button-padding-v;
    padding-bottom: $button-padding-v;
    background-color: $join-button-color;
    color: $join-button-font-color;
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    &:hover {
      background-color: $join-button-hover-color;
      color: $join-button-hover-font-color;
    }
  }
}
